<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<div th:fragment="css">
		<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
		<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
	</div>
</head>
<body>
	<div th:fragment="header">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Control Clientes</div>
			</a>
			<hr class="sidebar-divider my-0" >
			<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span></a>
			</li>

			<div class="sidebar-heading" sec:authorize="hasRole('ROLE_ADMIN')">
				Opciones
			</div>
			<li class="nav-item active" id="nclientes" sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-users"></i>
					<span>Clientes</span>
				</a>
			</li>
			<li class="nav-item" id="nproductos" sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="nav-link" th:href="@{/productos}">
					<i class="fas fa-shopping-cart"></i>
					<span>Productos</span>
				</a>
			</li>
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
		</ul>
	</div>

	<nav th:fragment="header-top" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown no-arrow">
				<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="mr-2 d-none d-lg-inline text-gray-600 font-weight-bold mx-3">Bienvenido <span sec:authentication="name"></span></span>
					<img class="img-profile rounded-circle" th:src="@{/img/undraw_profile.svg}">
				</a>
				<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
					 aria-labelledby="userDropdown">
					<a class="dropdown-item" th:href="@{/datos}">
						<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
						Perfil
					</a>
					<div class="dropdown-divider"></div>
					<form method="post" th:action="@{/logout}">
						<button class="dropdown-item" type="submit" >
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Cerrar sesion
						</button>
					</form>
				</div>
			</li>
		</ul>
	</nav>

	<nav th:fragment="paginador">
		<ul class="pagination">
			<li class="page-item">
				<span class="page-link" th:if="${page.first}">primera</span>
				<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">primera</a>
			</li>
			<li class="page-item">
				<span class="page-link" th:if="${not page.hasPrevious}">anterior</span>
				<a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}">anterior</a>
			</li>
			<li class="page-item" th:each="item: ${page.paginas}" th:class="${item.actual?'page-item active':'page-item'}">
				<span class="page-link" th:if="${item.actual}" th:text="${item.numero}"></span>
				<a class="page-link" th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text=${item.numero}></a>
			</li>
			<li class="page-item">
				<span class="page-link" th:if="${not page.hasNext}">siguiente</span>
				<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">siguienter</a>
			</li>
			<li class="page-item">
				<span class="page-link" th:if="${not page.last}">ultima</span>
				<a class="page-link" th:if="${page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">ultima</a>
			</li>
		</ul>
	</nav>


	<div th:fragment="footer">
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright &copy; Control Clientes - Marco Cortes 2021</span>
				</div>
			</div>
		</footer>
		<script>
			let pathname = window.location.pathname;
			if (pathname === "/productos") {
				document.getElementById("nproductos").classList.add("active");
				document.getElementById("nclientes").classList.remove("active");
			} else if(pathname === "/" || pathname === ""){
				document.getElementById("nproductos").classList.remove("active");
				document.getElementById("nclientes").classList.add("active");
			} else {
				document.getElementById("nproductos").classList.remove("active");
				document.getElementById("nclientes").classList.remove("active");
			}
		</script>
	</div>
	<div th:fragment="js">
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/js/sb-admin-2.min.js}"></script>
		<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/js/demo/datatables-demo.js}"></script>
	</div>
</body>
</html>