<!doctype html>
<html lang="es"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla :: head">
</head>
<body class="bg-light container-fluid">
	
	<header th:replace="plantillas/plantilla :: header"></header>
	
	<div style="margin-top: 280px" class="text-dark container">

		<a class="btn btn-primary" th:href="${idClientes} + @{/nueva/}">Nueva Factura</a>
		<br/><br/>

		<div th:if="${facturas!=null}">
			<table class="table text-center text-dark mt-5">
				<tr>
					<th>ID Factura</th>
					<th>Nombre</th>
					<th>Fecha de creacion</th>
					<th>Productos</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
				<tr th:each="factura : ${facturas}">
					<td th:text="${factura.idFacturas}" class="text-center fs-3 fw-light"></td>
					 <td th:text="${factura.referenciaFacturas}" class="text-center fs-3 fw-light"></td>
					<td th:text="${factura.fechaFacturas}" class="text-center fs-3 fw-light"></td>
					<td>
						<a class="btn btn-success" th:href="${idClientes} + @{/productos/} + ${factura.idFacturas}">Productos</a>
					</td>
					<td>
						<a class="btn btn-warning" th:href="${idClientes} + @{/editar/} + ${factura.idFacturas}">Editar</a>
					</td>
					<td>
						<form method="POST" th:action="${idClientes} + @{/eliminar/} + ${factura.idFacturas}">
							<input type="submit" class="btn btn-danger" value="Eliminar">
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div th:if="${facturas == null}"><p class="text-center fs-3 fw-light">No hay nada :c</p> </div>
	</div>
	
	<footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>