<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/plantilla :: head">
</head>
<body class="bg-light container-fluid">

	<header th:replace="plantillas/plantilla :: header"></header>
	 
	 <div style="margin-top: 100px" class="text-light container">
	 	<h1 class="text-secondary text-center">Lista Clientes</h1>
		<div th:if="${clientes!=null and !clientes.empty}">
			<a class="btn btn-primary" th:href="@{/nuevo/}">Nuevo Cliente</a>
			<br/>
			<br/>
			<table class="table table-striped text-center text-dark">
				<tr>
					<th th:text="ID"></th>
					<th th:text="Nombre"></th>
					<th th:text="Apellido"></th>
					<th th:text="Facturas"></th>
					<th th:text="Editar"></th>
					<th th:text="Eliminar"></th>
				</tr>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.idClientes}" class="text-center fs-3 fw-light"></td>
					<td th:text="${cliente.nombreClientes}" class="text-center fs-3 fw-light"></td>
					<td th:text="${cliente.apellidoClientes}" class="text-center fs-3 fw-light"></td>
					<td class="text-center fs-3 fw-light">
						<a class="btn btn-success" th:href="@{/facturas/} + ${cliente.idClientes}">Facturas</a>
					</td>
					<td>
						<a class="btn btn-warning" th:href="@{/editar/} + ${cliente.idClientes}">Editar</a>
					</td>
					<td>
						<form method="POST" th:action="@{/eliminar/} + ${cliente.idClientes}">
							<input type="submit" class="btn btn-danger" value="Eliminar">
						</form>
					</td>
				</tr>
			</table>
		</div>
		<div th:if="${clientes == null or clientes.empty}"><p class="text-center fs-3 fw-light">No hay datos ):</p> </div>
	</div>


	<footer th:replace="plantillas/plantilla :: footer"></footer>
</body>
</html>