<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clientes</title>

    <div th:replace="plantillas/plantilla :: css"></div>
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Control Clientes</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Opciones
            </div>
            <li class="nav-item active" id="nclientes">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-users"></i>
                    <span>Clientes</span>
                </a>
            </li>
            <li class="nav-item" id="nproductos">
                <a class="nav-link" th:href="@{/productos}">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Productos</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="plantillas/plantilla :: header-top"></nav>
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">Tabla de Clientes</h1>
                    <p class="mb-4">Esta es la tabla con los clientes registrados en la base de datos.</p>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 text-right">
                            <h6 class="m-0 font-weight-bold text-primary">
                                <a href="#" data-toggle="modal" data-target="#clienteNuevo" class="agregar">Agregar cliente</a>
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" height="50%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th th:text="ID"></th>
                                            <th th:text="Nombre"></th>
                                            <th th:text="Apellido"></th>
                                            <th th:text="Facturas"></th>
                                            <th th:text="Editar"></th>
                                            <th th:text="Eliminar"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th th:text="ID"></th>
                                            <th th:text="Nombre"></th>
                                            <th th:text="Apellido"></th>
                                            <th th:text="Facturas"></th>
                                            <th th:text="Editar"></th>
                                            <th th:text="Eliminar"></th>
                                        </tr>
                                    </tfoot>
                                    <tr th:each="cliente : ${clientes}">
                                        <td th:text="${cliente.idClientes}"></td>
                                        <td th:text="${cliente.nombreClientes}"></td>
                                        <td th:text="${cliente.apellidoClientes}"></td>
                                        <td class="text-center">
                                            <a class="btn btn-success" th:href="@{/facturas/} + ${cliente.idClientes}">Facturas</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-warning" th:href="@{/editar/} + ${cliente.idClientes}" data-toggle="modal"
                                               data-target="#clienteNuevo">Editar</a>
                                        </td>
                                        <td class="text-center">
                                            <form method="POST" th:action="@{/eliminar/} + ${cliente.idClientes}">
                                                <input type="submit" class="btn btn-danger" value="Eliminar">
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="plantillas/plantilla :: footer"></div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="clienteNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clienteNuevoModal">Formulario Clientes</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="user" th:action="@{/guardar}" method="post" th:object="${cliente}">
                    <div class="modal-body">
                        <p class="mt-2 mb-3">Ingrese el nombre y apellidos del cliente.</p>
                        <input type="hidden" name="idClientes" id="idClientes" th:field="*{idClientes}">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input
                                   type="text"
                                   class="form-control form-control-user"
                                   id="nombreClientes"
                                   placeholder="Nombres"
                                   name="nombreClientes"
                                   th:field="*{nombreClientes}">
                            </div>
                            <div class="col-sm-6">
                                <input
                                   type="text"
                                   class="form-control form-control-user"
                                   id="apellidoClientes"
                                   placeholder="Apellidos"
                                   name="apellidoClientes"
                                   th:field="*{apellidoClientes}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <input type="submit" class="btn btn-primary" value="Guardar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger"><i class="fas fa-exclamation-circle"></i></h5>
                    <h5 class="modal-title mx-3" th:text="${errores}" id="modalErrores"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Los campos no deben estar vacíos.</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="plantillas/plantilla :: js"></div>
    <script type="text/javascript">
        $('document').ready(function() {
            $('.table .btn-warning').on('click', function(event){
                event.preventDefault();
                let href = $(this).attr('href');
                $.get(href, function(clientes, status){
                    $('#idClientes').val(clientes.idClientes);
                    $('#nombreClientes').val(clientes.nombreClientes);
                    $('#apellidoClientes').val(clientes.apellidoClientes);
                });
            });
        });
        $('document').ready(function() {
            $('.agregar').on('click', function(event){
                event.preventDefault();
                $('#idClientes').val(0);
                $('#nombreClientes').val('');
                $('#apellidoClientes').val('');
            });
        });
        $('document').ready(function() {
            if($('#modalErrores').text().length > 0){
                $('#modalError').modal('toggle')
            }
        });
    </script>
</body>
</html>